@import "estilos.css";

    body {
        background-color: aliceblue;
        font-size:1vw;
        font-family: 'Times New Roman', Times, serif;
        font-size: 0.5vw;
    }
    /*atributo*/
    .estilo { font-family: fantasy;}
    .cores { color : rgb(6, 55, 97); }
    .tamanho { font-size: 15pt;}

    /*id*/
    #unico { 
        border:rgb(61, 117, 165);
        background-color:rgb(168, 194, 216);
        font-size: 15pt;
        font-size:1vw;
    }

    #cores {
        background-color: aliceblue;
    }
    
    #letras{
        font-family: 'Times New Roman', Times, serif;
        font-size: 15pt;
    }

    p {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20pt;
        font-size: 1vw;
    }

    /*atributo*/
    [target="black_"]{ color : lightcoral}
    [title~=foto]{ border : 5px solid rgb(33, 94, 155);}
    [title~=fotos]{ border : 5px solid black;}
    [title~=grandes] {border : 1px solid black;}
    [title|="detalhes"] { font-family: fantasy;}
    

    /*pseudo-classe*/
    a:link {color:lightcoral}
    a:visited {color :orange}
    a:hover {color:lightsteelblue}
    a:active {color:lightgreen}

    /*pseudo elementos*/
    p::first-letter{
        font-size: x-large;
        font-size: 1vw;
       
    }


    thead:nth-child(1){
        background: aliceblue;
    }
    tr:nth-child(odd){
        background : rgb(168, 194, 216);
    }
    tr:nth-child(even){
        background : rgb(61, 117, 165);
    }
    
    span{
        display:block;
        font-size: 1vw;
    }


    /*Combinadores*/
    div p {
        background-color: orange;
    }
    div, p > {
        background-color:  rgb(61, 117, 165);
    }

    div ~ p {
        background-color:  rgb(107, 155, 197);
    }

    div + p {
        background-color: orange;
    }


    h1{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: 40pt;
        color : rgb(33, 94, 155);
        font-weight: bold;
        font-size:3vw;
    }

    h5{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color : rgb(30, 47, 85);
        font-weight: bold;
        font-size: 15pt;
        font-size: 2vw;
    }

    /* Relativamente às imagens*/
    .img {
        position : relative;
        z-index : -4;
        height: auto;
    }
    
    .fixed{
        background-color: aliceblue;
    }

    .sticky{
        position: -webkit-londres;
        position: sticky;
        top: 0;
        padding: 5px;
        background-color: #d8e5e6;
        border: 2px solid #141281;
    }

    .imagem{
        background:url(imagens/vista.jpg);
        height: 112px;
        width: 200px;
        position: absolute;
        left: 760px;
        top: 0;
        opacity: 0.5;
        z-index : -1;
    }

    .imagem2{
        background:url(imagens/rio.jpg);
        height: 112px;
        width: 200px;
        position: absolute;
        left: 430px;
        top: 0;
        opacity: 0.5;
        z-index : -1;
    }

    .imagem3{
        background:url(imagens/47.jpg);
        height: 112px;
        width: 200px;
        position: absolute;
        left: 430px;
        top: 0;
        opacity: 0.5;
        z-index : -2;
    }
    
    .imagem4{
        background:url(imagens/55.jpg);
        height: 112px;
        width: 200px;
        position: absolute;
        left: 760px;
        top: 0;
        opacity: 0.5;
        z-index : -1;
    }

    /* estilos nas imagens*/
    #estiloimg {
        filter:grayscale(100%);
      } 
    
    #img {
        filter:opacity(30%);
    }

    #imagem {
        filter:sepia(100%);
    }

    #image:hover {
        transform: scaleX(-1);
        transition: 0.3s;
      }

    /*uso do flexbox*/
    #flexbox {
        display: flex;
        flex-direction: column;
    }

    /*linhas*/
    .flex-container {
        display: flex;
        flex-direction: row;
    }
    /*colunas*/
    .flex-container1 {
        display: flex;
        flex-direction: column;
    }

    .flex-container > div {
        background-color: aliceblue;
        width: 300px;
        margin: 10px;
        text-align: center;
        line-height: 75px;
        font-size: 30px;
    }
      
    /* Técnicas CSS Grid e media queries*/
    *{
        box-sizing: border-box;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 5px 2fr 5px 1fr;
        grid-template-rows: auto;
        grid-template-areas:
            'header header header header header'
            'item item item item item '
            'nav . main . aside '
            '. item6 item6 item6 . '
            'footer footer footer footer footer';
        padding: 0;
        }

    .item1 { grid-area: header; 
        background-color: #71b9d6;
        color: #ffffff;
        padding: 15px;
        margin :5px;
        font-size: 3vw;
    }

    .item {
        box-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 6px 2px rgba(0,0,0,0.24);
    }

    .item2 { grid-area: nav;
        list-style-type: none;
        margin: 0;
        padding: 20px 0;
        font-size: 1vw;
        
    }

    .item2 a{
        display: block;
        padding: 0.4vw 0.7vw;
        margin: 0.7vw;
        margin-bottom: 10px;
        box-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 6px 2px rgba(0,0,0,0.24);
        text-align: center;
        
            font-family: 'Times New Roman', Times, serif;
            font-size: 15pt;
            font-size: 1vw;
    }
        

    .item3 { grid-area: main; 
        padding: 20px 0 ;
        text-align: center;
        font-size: 15pt;
        font-size: 1vw;
    }

    .item4 { grid-area: aside; 
        margin : 0 20px;
        padding: 20px 0;
        text-align: center;
        font-size: 14px;
        font-family: 'Times New Roman', Times, serif;
        font-size: 15pt;
        font-size: 1vw;
    }

    .item5 { grid-area: footer; 
        background-color: #71b9d6 ;
        color: #ffffff;
        text-align: center;
        font-size: 12px;
        padding: 15px;
        font-size: 1vw;
    }

    .item6{
        box-shadow: 0 1px 2px rgba(0,0,0,0.24), 0 6px 2px rgba(0,0,0,0.24);
    }

    .nav {
        float:left;
        width: 20%;
    }
    .aside {
        float: left; 
        width: 20%;
    }

    .main {
        float: left; 
        width: 60%;
    }
        
    .row::after {
        content: "";
        clear: both;
        display: table;
    } 

    /* Responsividade */

    /*for phone*/ 
    [class*="col-"] {
        width:100%;
        float: left;
        padding: 15px;
        flex: 100%;
    }
        

    /*for desktop*/
    @media only screen and(min-width: 768px) {
    body{
            background-color: aliceblue;
            color : black;
            
    } 

        .col-1 {width: 8.33%;}
        .col-2 {width: 16.66%;}
        .col-3 {width: 25%;}
        .col-4 {width: 33.33%;}
        .col-5 {width: 41.66%;}
        .col-6 {width: 50%;}
        .col-7 {width: 58.33%;}
        .col-8 {width: 66.66%;}
        .col-9 {width: 75%;}
        .col-10 {width: 83.33%;}
        .col-11 {width: 91.66%;}
        .col-12 {width: 100%;}
    }

